<span th:insert="fragments/fragment-header"></span>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">User Role Create</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:hre="@{/}">Home</a></li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			
			
			<div class="row">
				<div class="col-lg-12">
					

					<div class="card card-primary card-outline">
					<div class="card-header">
							<h5 class="m-0">Spring Security</h5>
						</div>
						<div class="card-body">
							<h5 class="card-title">Spring Security using JDBC </h5>



							<p class="card-text"><small> by Apu Das Gupta </small></p>
							<a target="_blank" href="http://github.com/apudasgupta/" class="card-link">GitHub</a> 
						</div>
						<div class="card-footer">
							
							
						</div>
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col-md-6 -->
				
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<span th:insert="fragments/fragment-footer"></span>
<script>
	$(document).ready(function() {
		/************************/
		/************************/
	});
</script>
